<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>ToDo App</title>
</head>
<body>
  <div class="app" id="app">
    <div class="addTask">
      <div class="task-input">
        <label for="task">New Task:</label>
        <input type="text" id="task" v-model="newTask" placeholder="Enter your task here" @keyup.enter="addTask">
      </div>
      <div class="buttons">
        <button :class="{ active: filter === 'all' }" @click="setFilter('all')">All</button>
        <button :class="{ active: filter === 'pending' }" @click="setFilter('pending')">Pending</button>
        <button :class="{ active: filter === 'done' }" @click="setFilter('done')">Done</button>
        <button @click="clearAllTasks">Clear All</button>
      </div>
      <div class="task" v-for="(task, index) in filteredTasks" :key="index">
        <div class="checkmark" @click="toggleDone(index)">
          <div v-if="task.done">✔</div>
        </div>
        <span v-if="editIndex !== index" :class="{ done: task.done }">{{ task.text }}</span>
        <edit-task v-else :task="task" @save="saveEdit" @cancel="cancelEdit"></edit-task>
        <button @click="editTask(index)" class="edit-button">Edit</button>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="app.js"></script>
</body>
</html>
