body {
    background: lightblue;
    font-family: 'Arial', sans-serif;
}

.app {
    background: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.addTask .task-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.addTask .task-input label {
    font-weight: bold;
    margin-bottom: 5px;
}

.addTask textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons button {
    position: relative;
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

.buttons button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.buttons button:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.task {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task.done span:first-child {
    text-decoration: line-through;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.edit-button {
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
